# =======
# Drivers
# =======

config PLATFORM_SUPPORTS_GPIO
  def_bool y

config PLATFORM_SUPPORTS_UART
  def_bool y

config PLATFORM_SUPPORTS_SPI
  def_bool y

config PLATFORM_SUPPORTS_I2C
  def_bool y

config PLATFORM_SUPPORTS_USB
  def_bool y

config PLATFORM_SUPPORTS_TIMING
  def_bool y

config PLATFORM_SUPPORTS_PINCTRL
  def_bool y

# ====
# LIBC
# ====

config PLATFORM_SUPPORTS_NEWLIB_LIBC
  def_bool y
