config PLATFORM_SUPPORTS_GPIO
  def_bool y

config PLATFORM_SUPPORTS_UART
  def_bool y

config PLATFORM_SUPPORTS_USB
  def_bool y

config PLATFORM_SUPPORTS_TIMING
  def_bool y

config PLATFORM_SUPPORTS_PINCTRL
  def_bool y


config DMA
  bool "DMA Enable"
  default y if UART
