[submodule "modules/cmsis-device-f1"]
	path = modules/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "modules/CMSIS_5"]
	path = modules/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
