config PERIPH_SD
  bool "SD card SPI mode driver"

config PERIPH_SD_FATFS
  bool "Enable FatFs usage using the SD driver"

config PERIPH_SD_FATFS_FFCONF
  bool "Enable usage of the bundled default FatFs ffconf.h"
  default y if PERIPH_SD_FATFS

config MODULE_FATFS
  default y if PERIPH_SD_FATFS
